@model ActiveHub.Models.Register

@{
    ViewData["Title"] = "Register - FitPro";
}

<section class="section">
    <div class="container">
        <div class="row g-4 justify-content-center">
            <div class="col-md-6">
                <h2 class="text-center mb-4">Create Account</h2>
                <div class="card mb-4">
                    <div class="card-body">
                        <form asp-action="Index" method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            @Html.AntiForgeryToken()
                            
                            <div class="mb-3">
                                <input asp-for="Email" class="form-control" placeholder="Email"/>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <input asp-for="Password" class="form-control" placeholder="Password" type="password"/>
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="col-md-6">
                                    <input asp-for="ConfirmPassword" class="form-control"
                                           placeholder="Confirm password" type="password"/>
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <input asp-for="FirstName" class="form-control" placeholder="First name"/>
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>
                                <div class="col-md-6">
                                    <input asp-for="LastName" class="form-control" placeholder="Last name"/>
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="d-grid gap-2 mt-4">
                                <button type="submit" class="btn btn-primary">Register</button>
                                <a href="/" class="btn btn-outline">Back</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>