@{
    ViewData["Title"] = "Register - FitPro";
}


 @* <div class="row justify-content-center"> *@
 @*            <div class="col-lg-8 mb-5"> *@
 @*                <form asp-action="Index" method="post"> *@
 @*                    <div class="row g-3"> *@
 @*                        <div class="col-md-6"> *@
 @*                             *@
 @*                            <label for="fullName" class="form-label visually-hidden">Your Name</label> *@
 @*                            <input type="text" class="form-control" id="fullName" placeholder="Your Name" required> *@
 @*                        </div> *@
 @*                        <div class="col-md-6"> *@
 @*                            <label for="emailInput" class="form-label visually-hidden">Email address</label> *@
 @*                            <input type="email" class="form-control" id="emailInput" placeholder="name@example.com" *@
 @*                                   required> *@
 @*                        </div> *@
 @*                    </div> *@
 @* *@
 @*                    <div class="row g-3 mt-0"> *@
 @*                        <div class="col-md-6"> *@
 @*                            <label for="subjectSelect" class="form-label visually-hidden">Choose a subject</label> *@
 @*                            <select class="form-select" id="subjectSelect" aria-label="Choose a subject" required> *@
 @*                                <option selected disabled>Choose a subject</option> *@
 @*                                <option value="1">Membership Inquiry</option> *@
 @*                                <option value="2">General Questions</option> *@
 @*                                <option value="3">Other</option> *@
 @*                            </select> *@
 @*                        </div> *@
 @*                        <div class="col-md-6"> *@
 @*                            <label for="messageTextarea" class="form-label visually-hidden">Your Message</label> *@
 @*                            <textarea class="form-control" id="messageTextarea" rows="4" placeholder="Your Message" *@
 @*                                      required></textarea> *@
 @*                        </div> *@
 @*                    </div> *@
 @* *@
 @*                    <div class="d-grid gap-2 col-md-6 mx-auto mt-4"> *@
 @*                        <button type="submit" class="btn btn-primary">Send Message</button> *@
 @*                    </div> *@
 @*                </form> *@
 @*            </div> *@
 @*            </div> *@
      